body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

img {
    width: 250px;
    border: 3px solid #A27B5C !important;
    border-radius: 16px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #2C3639;
    color: #fff;
    gap: 70px;
}

a {
    text-decoration: none;
    color: #fff;
}
button {
    background-color: #A27B5C;
    color: #fff;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    margin-top: 3px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 16px;
}

.logo {
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: 700;
    color: #fff;
}

.links {
    display: flex;
    gap: 16px;
}

.description {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 100px;
    gap: 100px;
}

.thumbnail {
    display: flex;
    flex: 1;
    margin-right: 15%;
    height: 250px;
    align-self: center;
}
.txt {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.pictures {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 32px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 150px;
    font-style: italic;
}

.qbg {
    background-color: #DCD7C9;
    margin-top: 200px;
}

.cta {
    background-color: #A27B5C;
    display: flex;
    width: 70%;
    padding: 40px;
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 16px;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}
.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 200px;
    gap: 16px;
    text-align: center;
}

.button2 {
    border: 3px #fff solid;
    border-radius: 8px;
    margin-right: 10%;
}

footer {
    background-color: #2C3639;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}